*, *::before, *::after{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #1d6d3f, #0670a5);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .80);
}

.calculator-grid > button:hover{
    background-color: rgba(255, 255, 255, .9);
}

.span-two{
    grid-column: span 2; //*чтобы растянуть на две клетки*//
}

.output{
    grid-column: 1 / -1; /* чтобы поднять экран калькулятора над цифрами и растянуть на всю ширину*/
    background-color: rgba(0, 0, 0, .70);
    display: flex;
    align-items: flex-end;
    justify-content: space-around; /* оставляет как место между ними, но в то же время отдаляет от краев */
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word; /* чтобы нормально перенести число, когда оно станет слишком большимs*/
    word-break: break-all;
}

.output .previous-operand{
   color: rgba(255, 255, 255, .80); /* серый цвет*/
   font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
 }



